/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #d16adc;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}

.wrapper {
    width: 80%;
    margin: auto;
}

ul {
    list-style-type: none;
    padding-right: 50px;
}

li {
    display: inline-block;
    padding-right: 20px;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*RESET*/

/*HEADER*/
header {
    background-color: white;
    font-size: larger;
}

.logo img {
    height: 120px;
    width: auto;
}

a:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid #d16adc;
}

a i {
    font-size: 30px;
    color: #d16adc;
}

.social {
    padding-left: 10px;
}
/*HEADER*/

/*MAIN*/

.jumbotron {
    background-image: url(../img/jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% -134px;
}

.jumbotron .button {
    padding-top: 30px;
}

.jumbotron .button button {
    border: none;
    padding: 40px 70px;
    background-color: #d16adc;
}

.jumbotron .button button a {
    color: white;
    font-weight: bold;
    font-size: large;
}


.title {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 80px;

}



h1 {
    font-size: 105px;
    font-weight: 700;
    padding-bottom: 8px;
}

p {
    font-size: 30px;
}

h1, p {
    color: white;
}

/*info section*/
.info {
    background-color: white;
}

.info h1 {
    color: black;
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 8px;
}

.trattino {
    height: 5px;
    width: 100px;
    background: #D16ADC;
    display: block;
    margin: 0 auto;
}

.info p {
    padding-top: 7px;
    font-size: 25px;
    color: black;
}
/*info section*/

/*tools section*/
.tools {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #4142A3;
}

.card {
    color: white;
    text-align: center;
    padding: 50px;
    width: calc( 100% / 4 );
}

.card p {
    font-size: 17px;
    line-height: 30px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-img {
    display: block;
}

.card-img img {
    height: 60px;
    width: auto;
}
/*tools section*/

/*level section*/

.level {
    padding: 25px;
    padding-top: 140px;
    padding-bottom: 135px;
    background-image: url(../img/officewoman.jpg);
    background-size: cover;
    background-position-y: 40%;
}

.level-container {
    background-color: #d16adc;
    width: 45%;
}

.level-container .title-container {
    padding: 30px;
}

.level-container h4 {
    padding-bottom: 20px;
    font-size: 55px;
    color: white;
}

.trattino-white {
    height: 3px;
    width: 100px;
    background: white;
    display: block;
    
}

.title-container p {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 23px;
}

.title-container a {
    color: white;
    border-bottom: 1px solid white;
    font-size: 30px;
}
/*level section*/

/*location section*/
.title h5 {
    font-size: 55px;
    color: black;
    padding-bottom: 20px;
}

.location .title p {
    padding-top: 20px;
    color: black;
    font-size: 20px;
}

.city-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.city-img {
    padding: 10px;
    width: calc( 100% / 3);
    position: relative;
}

.city-img:hover {
    opacity: .5;
}

.city-img h6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: white;
    font-size: 30px;
}
/*location section*/

/* form section */

.form-section {
    background: linear-gradient(354deg, rgba(165,118,164,1) 0%, rgba(155,118,170,1) 35%, rgba(133,122,188,1) 100%);
}

.form-wrapper{
    padding-top: 140px;
    padding-bottom: 160px;
    display: flex;
    justify-content: space-around;
}

.form-title h4 {
    color: white;
    font-size: 92px;
}

.form-title p {
    padding-top: 20px;
    font-size: 23px;
}

input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: white;
    margin-bottom: 25px;
    border-radius: 0px;
    outline: none;
    font-size: 15px;
}

/* per colorare i placeolder su chrome */
::-webkit-input-placeholder {
    color: white;
}

.form {
    padding-top: 37px;
}

.form button {
    background: transparent;
    padding: 28px 82px;
    color: white;
    border-color: white;
    font-size: 17px;
    font-weight: bold;
    outline: none;
}
/* form section end */

/* footertron */
.footertron {
    padding: 334px 0px;
    background-image: url(../img/cowork.jpg);
    background-size: cover;
    background-position-y: 46%;
}
/* footertron */

/*MAIN*/

/* footer */

footer {
    padding-top: 85px;
    padding-bottom: 100px;
    background-color: #343a40;
}

.logo-footer {
    display: block;
}

.logo-footer img {
    height: 150px;
    width: auto;
}

.wrapper-footer div {
    padding-top: 15px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.wrapper-footer i {
    font-size: 40px;
    padding-right: 6px;
}

.wrapper-footer {
    width: 90%;
    margin: auto;
}

.line {
    margin-top: 26px;
}

.privacy h6 {
    color: white;
    font-size: 50px;
    padding: 10px 0px;
}

.privacy p {
    font-size: 20px;
    padding: 10px 0px;
    font-weight: 400;
}
/* footer */



